@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --neon-green: #d4e600;
  --neon-purple: #663DE4;
  --matte-black: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-green: var(--neon-green);
  --color-neon-purple: var(--neon-purple);
  --color-matte-black: var(--matte-black);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}